<form action="Comenzar" method="post">
<label for="dificultad">Dificultad:</label>
    <select name="dificultad" id="dificultad" required>
        <option value="-1">Todas</option>

        @foreach (var dificultad in ViewBag.Dificultades)
        {
                        <option value="@dificultad.IdDificultad">@dificultad.Nombre</option>
        }

</select>

<select name="categoria" id="categoria" required>
        <option value="-1">Todas</option>
              @foreach (var categoria in ViewBag.Categorias)
        {
                        <option value="@categoria.IdCategoria">@categoria.Nombre</option>
        }
</select>

 <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />

   <input type="submit" value="Jugar" />

</form>