<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configurar juego</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>

            <div class="mb-3">
                <form action="Comenzar" method="post">
                    <div class="text-center">
                        <div class="btn-group" data-toggle="buttons">
                            <div class="row">
                                <label >Dificultad:</label>
                                @foreach (Dificultades dificultad in ViewBag.Dificultades)
                                {
                                        <label class="btn btn-primary btn-lg botonesss">
                                        <input type="radio" name="opcion" value="@dificultad.IdDificultad" required>
                                        <p>@dificultad.Nombre</p>
                                        </label>
                                }
                                <label >Categoria:</label>
                                @foreach (Categorias categoria in ViewBag.Categorias)
                                {
                                        <label class="btn btn-primary btn-lg botonesss">
                                        <input type="radio" name="opcion" value="@categoria.IdCategoria" required>
                                        <img src="@categoria.Foto" alt="">
                                        </label>
                                }
                            </div>
                        </div>
                         <label for="username">Username:</label>
                         <input type="text" name="username" id="username" required />
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success" formaction="Respuesta.html">Responder</button>
                    </div>
                </form>
            </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>