

<h2>¡¡¡Terminaste papu loco!!!</h2>

<iframe src="https://archive.org/embed/ScreamerParaAsustarASusAmigos" width="640" height="480" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
<p>Nombre de usuario: @ViewBag.Username</p>
<p>Puntaje final: @ViewBag.PuntajeFinal</p>

<a href="/Controller/ConfigurarJuego">Volver a jugar</a>