<div class="Index">
    <h1>PreguntadOrt</h1>
    <img class="imgIndex" src="/img/ImagenLogoIncompleto.png" >
    <a class="botonJugar" href='@Url.Action("ConfigurarJuego")'><button>Jugar</button></a>
</div>
