html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.LogoLayout {
  width: 100px; 
}

li
{
  list-style: none;
}


h1{
text-align: center;
}

.Index
{
text-align: center;
}
.imgIndex {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 300px;
}
.IndexBack
{
  background:url(/img/ImagenLogoBackround.png);
  background-size:cover;
  background-repeat:no-repeat;
  backdrop-filter: blur(18px);
  height: 100vh;
}

.indexitems
{
  display: flex;
  align-items: center;
  height: 83vh;
  justify-content: center;
}
.indexcontainer
{
  display: flex;
  justify-content: center;
}
.botonesss {
  width: auto !important;
  min-width: 300px !important;
  font-size: 18px !important;
  text-align: center !important;
  background-color: rgb(247, 181, 161)!important;
  vertical-align: middle !important;
  transition-duration: 0.6s!important;
}

.botonesss:hover {
  background-color: rgb(253, 159, 130) !important; 
  color: white !important;
  border-color: #17a2b8 !important;
}
.BackP
{
  background-color: #fbe4e3; 
}
.container-perso
{
  display: flex !important;
  justify-content: center!important;
  text-align: center!important;
  align-content: center!important;
  flex-direction: column!important;
}
.botoness {
  width: auto !important;
  min-width: 327.25px !important;
  min-height: 275px !important;
  font-size: 18px !important;
  text-align: center !important;
  vertical-align: middle !important;
  background-color: rgb(247, 181, 161)!important;
  transition-duration: 0.6s!important;
}

.botoness:hover {
  background-color: rgb(253, 159, 130) !important; 
  color: white !important;
  border-color: #17a2b8 !important;
}
.radioCJ {
  -webkit-appearance: none;   
  -moz-appearance: none;
  appearance: none;
}


.radioCJ:checked {
  background-color: #ff3300 !important;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
