
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.LogoLayout {
  width: 100px; 
}

li
{
  list-style: none;
}


h1{
text-align: center;
}

.Index
{
text-align: center;
}
.imgIndex {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 75%;
}
.btn-jugar
{
  width: 15%;
}
.IndexBack
{
  background:url(/img/ImagenLogoBackround.png);
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center;
  backdrop-filter: blur(18px);
  position: sticky;
}

.indexitems
{
  display: flex;
  align-items: center;
  height: 73vh;
  justify-content: center;
}
.indexcontainer
{
  display: flex;
  justify-content: center;
}
.botones3 {
  width: auto !important;
  min-width: 300px !important;
  font-size: 18px !important;
  text-align: center !important;
  border-color: rosybrown !important;
  vertical-align: middle;
}

.botones3:hover {
  background-color: rgb(221, 65, 18) !important; 
  color: white !important;
  border-color: rosybrown !important;
}
.BackP
{
  background-color: #fbe4e3; 
}
.container-perso
{
  display: flex !important;
  justify-content: center!important;
  text-align: center!important;
  align-content: center!important;
  flex-direction: column!important;
}
.botones2 {
  width: auto !important;
  min-width: 327.25px !important;
  min-height: 275px !important;
  font-size: 18px !important;
  vertical-align: middle !important;
  border-color: rosybrown !important;
}

.botones2:hover {
  background-color: rgb(221, 65, 18) !important; 
  color: white !important;
  border-color: rosybrown !important;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.botones1 {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 18px !important;
  text-align: center !important;
  border: rosybrown !important;
}